.welcome_cont {
  border: 2px solid black;
  min-height: 40vh;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn{
  border: 1px solid black;
  width: 240px;
  height: 50px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 24px;
  border-radius: 10px;

   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: cornsilk;
   transition: 1s;
}
.btn:hover{
  cursor: pointer;
  border-radius: 30px;
  transition: 1s;
}
.btn1{
  border: 1px solid black;
  width: 140px;
  height: 40px;
  position: absolute;
  right: 1%;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 24px;
  border-radius: 10px;

   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: cornsilk;
   transition: 1s;
}
.btn1:hover{
  cursor: pointer;
  border-radius: 30px;
  transition: 1s;
}



.welome_text {
  text-align: center;
  font-family: "Poppins";
  font-size: 40px;
  line-height: 60px;
  min-height: 60px;
  font-weight: 600;
}
